<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.SieuThiBHX_V1ConnectionString"
            connectionString="Data Source=DESKTOP-L4303K8;Initial Catalog=SieuThiBHX_V1;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>